.spacer {
  flex: 1;
}

.toolbar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}
